@font-face {
	font-family: "Open Sans";
	src: url(fonts/OpenSans-Regular.ttf);
	src: url(fonts/OpenSans-Regular.woff);
	src: url(fonts/OpenSans-Regular.woff2);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/OpenSans-Bold.ttf);
	src: url(fonts/OpenSans-Bold.woff);
	src: url(fonts/OpenSans-Bold.woff2);
	font-weight: 700;
	font-style: normal;
}

body {
	margin:0;
	min-width: 320px;
	font-family: "Open Sans", "Fira Sans", sans-serif;
	font-size: 15px;
	color: #000000;
}

.header {
	background-image: url(images/football_767.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #000000;
	width: 100%;
	padding-top: 37px;
	padding-bottom: 88px;
	position: relative;
}

.header::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #161b38;
	opacity: 0.9;
}

.container {
	position: relative;
	width: 87%;
	margin: 0 auto;
	padding: 0;
}	

.logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	fill: #ffffff;
	width: 49%;
	height: 14.4%;
}

.header-logo-svg {
	width: 100%;
}

.header-title {
	margin-top: 140px;
	padding: 0;
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	font-size: 28px;
	color: #ffffff;
	line-height: 31px;
	font-weight: 700;
}

.heading {
	font-size: 28px;
	line-height: 35px;
	display: flex;
	flex-direction: column;
	padding-left: 0;
	max-width: 93.4%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

.heading-add {
	margin-left: 47px;	
}

.header-footer {
	margin-top: 92px;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button {
	border-radius: 50px;
	background-color: #5e42b0;
	text-decoration: none;
	display: flex;
}

.app-button {
	padding-top: 7px;
	padding-bottom: 12px;
}

.store-download {
	font-size: 10px;
	color: #ffffff;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}
.app-icon {
	width: 24px;
	height: 26px;
	fill: #ffffff;
}

.download-wrapper {
	margin-left: 13px;
	display: flex;
	flex-direction: column;
}

.label-download {
	font-weight: 400;
}

.google-button {
	margin-top: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.google-icon {
	width: 25px;
	height: 26px;
	fill: #ffffff;
}

.main-container {
	padding: 0;
	margin: 0;
}

.section-header {
	font-size: 50px;
	text-transform: uppercase;
	color: #e7e7e7;
	font-weight: 700;
	margin-top: 0;
	margin-left: 7%;
	margin-bottom: 2%;
}

.connection-article {
	padding-bottom: 17.5%;
	padding-top: 27.5%;
	padding-left: 8.8%;
	padding-right: 8.8%;
	margin-top: 85%;
	background-color: #fafafa;
}

.athlets-section, .player-section {
	position: relative;
	padding-top: 26px;
}

.sportsman-image {
	position: absolute;
	z-index: 1;
	top: 8.8%;
}

.athlete-footballer-image {
	width: 54%;
	left: 24%;

}

.player-basketballer-image {
	width: 95%;
	left: 2.5%;
}

.connection-link {
	display: flex;
	text-decoration: none;
	align-items: flex-end;
	
}

.link-number {
	font-size: 14px;
	font-weight: 700;
	color: #000000;
	padding: 0;
	position: relative;
}

.link-number::before{
	content: "";
	position: absolute;
	height: 4px;
	background-color: #5e42b0;
	border: 1px solid #5e42b0;
	border-radius: 2px;
	bottom: -5px;
	right: 0;
	left: 0;

}

.link-title {
	margin-left: 13px;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	color: #c1c1c1;
}

.main-text {
	margin-top: 30px;
}

.collaboration-article {
	padding: 20.6% 8.8% 18.8% 8.8%;
	background-color: #f5f4f9;
}

.growth-article {
	padding: 21.2% 8.8% 18.8% 8.8%;
	position: relative;
	background-color: #5e42b0;
}

.player-text, .collaboration-text, .growth-text {
	padding-right: 0;
}

.growth-link-number {
	color: #000000;
	position: relative;
}

.growth-link-number::before {
	content: "";
	position: absolute;
	height: 4px;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 2px;
	bottom: -5px;
	right: 0;
	left: 0;
}	

.growth-text {
	color: #ffffff;
}

.new-article {
	position: relative;
	z-index: 1;
	padding-bottom: 87px;
}

.article-image {
	width: 100%;
}
	
.new-link {
	display: flex;
	flex-direction: column;
	top: -60px;
	left: 28px;
}

.new-number {
	color: #ffffff;
	width: 70px;
	height: 70px;
	background-color: #5e42b0;
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
	font-weight: 700;
	position: absolute;
	display: flex;
	justify-content: center;

}

.new-number::before {
	content: "";
	position: absolute;
	width: 14px;
	height: 4px;
	background-color: #ffffff;
	left: 28px;
	bottom: 20px;
	border-radius: 2px;

}

.new-title-link {
	margin-top: 30px;
	text-decoration: none;
}

.new-title {
	font-size: 28px;
	text-transform: uppercase;
	color: #e7e7e7;
	margin: 0;
}

.new-article-content {
	padding-left: 8.8%;
	padding-right: 8.8%;
	margin: 0;
	padding-top: 13%;
	position: relative;
}

.new-text {
	margin-top: 35px;
	margin-bottom: 0;
}

.work-it-article {
	padding-bottom: 76px;
}

.footer {
	background-image: url(images/game_767.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #000000;
	padding-top: 121px;
	padding-bottom: 88px;
	position: relative;
	z-index: 2;
}

.footer::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #161b38;
	opacity: 0.9;
	z-index: 0;
}

.wrapper-download-app {
	text-align: center;
}

.footer-upper-logo {
	width: 80px;
	height: 80px;
	background-color: #6f4fcb;
	box-sizing: border-box;
	border-radius: 15px;
	position: relative;
	z-index: 1;
	padding-top: 16px;
	padding-bottom: 16px;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
}

.logo-footer-svg {
	width: 58px;
	height: 46px;
	fill: #ffffff;
	position: relative;
	z-index: 1;
	background-color: #6a4bc2;
	border-radius: 20px;
	padding: 18px 10px;
}

.footer-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 65px;
	position: relative;
	z-index: 2;
}
.footer-wrapper {
	position: relative;
	z-index: 1;
}

.footer-app-download {
	text-transform: uppercase;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	color: #ffffff;
}

.footer-heading-line {
	font-size: 14px;
	color: #9b8ec1;
	text-transform: uppercase;
}

.app-footer {
	margin-top: 80px;
}

.footer-double-logo {
	margin-top: 88px;
	position: relative;
	z-index: 1;
}

.logo-bottom {
	text-align: center;
	display: block;
}

.logo-footer {
	width: 135px;
	height: 91px;
	fill: #ffffff;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 641px) {
	.container {
		width: 92.5%;
	}

	.header-title {
	  margin-top: 40%;
	  font-size: 35px;
	  line-height: 31px;
	}

	.heading {
	padding-left: 8.2%;
	font-size: 64px;
	}

	.heading-add {
		margin-left: 24.6%;
		margin-top: 6%;
		line-height: 64px;	
	}

	.header-footer {
		margin-top: 45%;
		flex-direction: row;
		margin-left: auto;
		margin-right: auto;
		justify-content: space-between;
	}

	.button {
		width: 35.2%;
		padding-left: 6.5%;
		padding-right: 8.5%;
		width: 21%;
		min-width: 375px;
	}

	.app-button {
		margin-right: 2.8%;
		margin-top: 11.1%;
		padding-top: 2.8%;
		padding-bottom: 3.5%;
	}

	.google-button {
		margin-top: 11.1%;
		padding-top: 4%;
		padding-bottom: 4%;
	}

	.athlets-section, .player-section {
		padding-top: 12.5%;
	}

	.section-header {
		margin-bottom: 0;
		font-size: 80px;
		margin-left: 40.2%;
	}

	.athlete-footballer-image {
		width: 75%;
		max-width: 670px;
		left: -27.2%;
		top: 13.8%;
	}

	.growth-athlet-text {
		color: #ffffff;
	}

	.player-basketballer-image {
		top: 7.4%;
		left: 36.3%;
		width: 66%;
	}

	.connection-article {
		margin-top: 0;
		padding: 9.5% 6.8% 7.7% 40.2%;
		background-color: #ffffff;
	}

	.collaboration-article, .growth-article {
		padding: 6.4% 6.8% 7.9% 40.2%;
	}


	.article {
		padding-right: 6%;
	} 
	

	.header-player {
		margin-left: 9.9%;
	}

	.connection-player-article, .collaboration-player-article, .player-growth-article {
		padding-left: 6.3%;
	}

	.player-growth-article {
		background-color: #090c35;
	}

	.growth-link-number {
		color: #8765dd;
	}

	.player-link, .player-text, .collaboration-link, .collaboration-text, .growth-link, .growth-text {
		padding-left: 4.8%;
	}

	.player-text, .collaboration-text {
		padding-right: 40.4%;
	}


	.new-article {
		padding-right: 0;
	}

   .new-article-content {
	    padding-left: 5.6%;
	    padding-top: 12.6%;
    }

    .new-link {
    	margin-left: 2.5%;
    }

	.new-title {
		margin: 0;
		font-size: 80px;
	}

    .new-text {
	  margin: 0;
	  font-size: 24px;
    }

	.footer-heading {
		margin-top: 11.5%;
	}

	.footer-app-download {
		font-size: 80px;
	}

	.footer-heading-line {
		font-size: 36px;
	}
	
	.header-footer {
		margin-top: 38%;
	}

	.app-footer, .google-footer {
		width: 42%;
	}

	.app-footer {
		margin-right: 5.2%;
	}


	.logo-footer {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 961px) {
	.container {
		width: 81.3%;
		padding-top: 3.4%;
		padding-bottom: 7%;
	}

	.header-logo-svg {
		width: 26%;
	}

	.logo {
		text-align: center;
	}

	.header-title {
		margin-top: 15%;
		line-height: 90px;
	}

	.heading {
		padding-left: 1.1%;
		font-size: 90px;
		margin: 0;
		line-height: 90px;
	}

	.heading-add {
		margin-left: 31%;
		margin-top: 2.5%;
		line-height: 1em;
	}

	.header-footer {
		margin-top: 15.1%;
		justify-content: center;
	}

	.app-button, .google-button {
		margin-top: 0;
		padding-right: 0;
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.app-button {
		margin-right: 3.9%;
		padding-top: 14px;
		padding-bottom: 18px;
	}

	.app-icon {
		height: 55px;
		width: 47px;
	}

	.google-icon {
		width: 54px;
		height: 56px;
	}

	.google-button {
		padding-top: 17px;
		padding-bottom: 12px;
	}

	.label-download {
		font-size: 14px;
	}

	.main-content {
		font-size: 20px;
	}


	.athlets-section, .player-section {
		padding-top: 6.5%;
	}

	.section-header {
		font-size: 80px;
	}

	.athlete-footballer-image {
		top: 2%;
		left: 15.3%;
		width: 37.9%;
		max-width: 741px;
	}

	.article {
		padding-right: 10.5%;
	}

	.connection-article {
		margin-top: 0;
		padding-left: 10%;
		padding-top: 6%;
		padding-bottom: 4.2%;
		background-color: #ffffff;
	}

	.collaboration-article {
		padding-top: 2.6%;
		padding-bottom: 3.8%;
		padding-left: 10%;
	}

	.growth-article {
		padding-top: 3.7%;
		padding-bottom: 3.6%;
		padding-left: 10%;
	}


	.section-header, .connection-link, .growth-athlet-text, .collaboration-athlet-text, .connection-athlet-text {
		margin-left: 53.2%;
	}

	.link-title {
		font-size: 36px;	
	}

	.link-number {
		font-size: 18px;
	}

	.header-player {
		margin-left: 10%;
		margin-top: 0;
	}

	.player-basketballer-image {
		width: 64%;
		top: 1.5%;
		left: 33.5%;
	}

	.player-text, .collaboration-text, .growth-text {
		padding-left: 0;
	}


	.player-growth-article {
		background-color: #0a0e34;
	}

	.player-growth-number {
		color: #ffffff;
	}

	.player-link, .collaboration-link, .growth-link {
		margin-left: 0;
		padding-left: 0;
	}

	.player-text, .growth-text, .collaboration-text {
		padding-right: 50.5%;
		margin-right: 0;
	}

	.connection-link {
		align-items: center;
	}


	.new-article {
		display: flex;
		font-size: 24px;
		padding-bottom: 0;
		line-height: 24px;
	}

	.new-text {
		margin-top: 6.7%;
		margin-left: 0;
	}

	.be-active-article, .find-contact-article, .work-it-article {
		padding-right: 0;
		width: 100%;
	}

	.be-active-picture, .find-contact-picture, .work-it-picture {
		width: 50%;
	}

 
	.be-active-image, .find-contact-image, .work-it-image {
		width: 100%;
		height: 100%;
	}


	.new-article-content {
		padding-left: 9%;
		width: 50%;
		padding-top: 14%;
		padding-bottom: 13.5%;
		box-sizing: border-box;
	}

	.new-article-content:nth-child(odd) {
		padding-right: 13.5%;
	}

	.new-link {
		top: 30%;
		left: -9%;
		margin-left: 0;
	}


	.new-number {
		width: 18.3%;
		height: 18.3%;
		font-size: 24px;
	}

	.new-number::before {
		width: 24px;
		height: 5px;
		bottom: 30%;
		left: calc(50% - 14px);
	}

	.new-title-link {
		font-size: 40px;
		line-height: 80px;
	}

	.find-contact-content {
		order: 0;
	}

	.find-contact-picture {
		order: 1;
	}

	.find-contact-link {
		left: 91%;
	}

	.footer {
		padding: 0;
	}

	.footer-container {
		padding-top: 12.2%;
	}
		
	.wrapper-download-app{
		display: flex;
		margin-left: auto;
		margin-right: auto;
		align-items: flex-start;
		justify-content: center;
	}

	.app-footer, .google-footer {
		width: 20.8%;
	}

	.logo-footer-svg {
		width: 115px;
		height: 97px;
		padding-top: 42px;
		padding-bottom: 42px;
		padding-left: 27px;
		padding-right: 27px;
		background-color: #7151ce;
		border-radius: 30px;
	}

	.footer-heading {
		margin-left: 3.6%;
		margin-top: 0;
	}

	.footer-double-logo {
		margin-top: 14.2%;
	}

	.logo-footer {
		width: 13%;
	}
}


